.user-auth-main-container {
    width: 100vw;
    height: 100vh;
}

.user-auth-nav {
    background: #acb7d1;
    height: 90px;
    margin: 0px;
    padding: 0px;
    top: 0px;
    overflow: hidden;
    width: 100%;
    color: white;
    font-size: 33px;
    font-family: cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-auth-container {
    width: 100%;
    height: calc(100vh - 90px);
    margin: 0px;
}

.user-auth-container-wrapper{
    background: white;
    height: 500px;
    margin: auto;
    box-shadow: #c2c2c2 0px 3px 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-auth-container-wrapper label{
    width: 300px;
    font-size: 18px;
    font-family: cursive;
}

#email, #password, #name {
    width: 300px;
    border: 1px solid #acb7d2;
    background: white;
    border-radius: 15px;
    height: 55px;
    padding-left: 15px;
    font-size: 22px;
    margin-bottom: 12px;
}

.login-btn{
    width: 300px;
    background: #acb7d2;
    height: 55px;
    border-radius: 15px;
    margin-top: 61px;
    font-size: 22px;
    color: white;
    font-family: cursive;
    cursor: pointer;
}

#email:focus, #password:focus, .login-btn:focus{
    outline: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}